form {
  display: flex;
  margin-bottom: 12px;
}

label {
  font-family: 'Mitr', sans-serif;
  font-weight: 300;
  margin-right: 12px;
  padding:5px 0;
}

input {
  font-family: 'Mitr', sans-serif;
  border-radius: 15px;
  border: 2px solid #ef529c;
  padding: 5px 15px;
  margin-right:20px;
  flex-grow: 1;
}

input:focus, select:focus, #up-down:focus {
  outline: unset;
  box-shadow: 0 0 10px 2px #f287b7 inset;
}

select {
  font-family: 'Mitr', sans-serif;
  border-radius: 15px;
  border: 2px solid #ef529c;
  padding: 5px 15px;
}

select#sort-filter {
  border-radius: 15px 0 0 15px;
  border-right: unset;
}

input#filter-text {
  border-radius: 0 15px 15px 0;
}

option {
  border: 2px solid #ef529c;
}

.hide{
  display: none;
}

#up-down {
  font-family: 'Mitr', sans-serif;
  border-radius: 15px;
  border: 2px solid #ef529c;
  padding: 5px 15px;
  background-color: white;
  margin: 0 20px;
  vertical-align: middle;
}

#up-down>img {
  height: 16px;
  width: 16px;
}